<div [formGroup]="form" class="form-group">

  <div [ngSwitch]="elementTypesList[input.ElementType]">

    <div *ngSwitchDefault class="row">
 
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{input.DisplayName}}</mat-label>
          <input matInput [formControlName]="input.FieldName" [id]="input.FieldName" required="input.Required" type="text">
       </mat-form-field>   
    </div>
    
    <div *ngSwitchCase="'InputTextbox'" class="row"> 
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{input.DisplayName}}</mat-label>
        <input matInput [formControlName]="input.FieldName" [id]="input.FieldName" type="text">
     </mat-form-field>  
    </div>

    <div *ngSwitchCase="'InputEmail'" class="row"> 
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{input.DisplayName}}</mat-label>
        <input matInput [formControlName]="input.FieldName" [id]="input.FieldName" type="email">
     </mat-form-field>  
    </div>

    <div *ngSwitchCase="'InputDate'" class="row"> 
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{input.DisplayName}}</mat-label>
        <input matInput [formControlName]="input.FieldName" [id]="input.FieldName" type="date">
     </mat-form-field>  
    </div>

    <div *ngSwitchCase="'InputNumber'" class="row"> 
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{input.DisplayName}}</mat-label>
        <input matInput [formControlName]="input.FieldName" [id]="input.FieldName" type="number">
     </mat-form-field>  
    </div>

    <div *ngSwitchCase="'SelectBox'" class="row">
     

      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label [attr.for]="input.FieldName">{{input.DisplayName}}</mat-label>
      <mat-select class="form-control" [id]="input.FieldName" [formControlName]="input.FieldName">
        <mat-option *ngFor="let opt of input.Options" [value]="opt.key">{{opt.value}}</mat-option >
      </mat-select>
    </mat-form-field>  
    </div>

    <div *ngSwitchCase="'Checkbox'" class="row">
 
        <section class="example-section"> 
          <mat-checkbox [formControlName]="input.FieldName" [id]="input.FieldName">{{input.DisplayName}}</mat-checkbox>
        </section>
  
    </div>

    <div *ngSwitchCase="'RadioButton'" class="row">
 
      <mat-radio-group aria-label="Select an option" [formControlName]="input.FieldName">
        <mat-radio-button *ngFor="let opt of input.Options" [value]="opt.key">{{opt.value}}</mat-radio-button> 
      </mat-radio-group>  
    </div>

    <div *ngSwitchCase="'InputTextarea'" class="row">
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label [attr.for]="input.FieldName">{{input.DisplayName}}</mat-label>
      <textarea matInput [formControlName]="input.FieldName" [id]="input.FieldName" rows="5"></textarea>
    </mat-form-field>  
    </div>
    

  </div>

</div>
