
<div class="card-container">
  <div class="grid-toolbars" *ngIf="pnlFirstPage">
    <button mat-raised-button color="primary" (click)="onOpenCreateEditFormPanel()">New {{title}}</button>  
  </div>

  <div class="grid-toolbars" *ngIf="pnlBackForms">
    <button mat-raised-button color="warn" (click)="onBackAll()">Back {{title}}</button>  
  </div>
 
</div>
<br>

<div class="row" id="pnlData" *ngIf="pnlFirstPage" class="panel">

  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{title}} Data
        </mat-panel-title> 
      </mat-expansion-panel-header>
     
      <table mat-table matSort class="mat-elevation-z8" style="width: 100%;" [dataSource]="FormList" >
          <ng-container matColumnDef="FormName">
              <th  mat-header-cell *matHeaderCellDef > Form Name </th>
              <td mat-cell *matCellDef="let formrow"> {{formrow.FormName}} </td>
          </ng-container>  
          <ng-container matColumnDef="Desciption">
              <th  mat-header-cell *matHeaderCellDef > Desciption </th>
              <td mat-cell *matCellDef="let formrow"> {{formrow.Desciption}} </td>
          </ng-container>   
          <ng-container  matColumnDef="Actions">
            <th  mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let formrow">
              <button mat-icon-button color="warn" (click)="onDelete(formrow)" aria-label="Example icon-button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="onEdit(formrow)" aria-label="Example icon-button with a edit icon">
                <mat-icon>edit</mat-icon>
              </button> 
              <button mat-raised-button color="primary" (click)="onCreateEditElements(formrow)" aria-label="Example icon-button with a edit icon">
                Elements
              </button> 
              <button mat-raised-button color="primary" (click)="onOpenFormviewer(formrow)" aria-label="Example icon-button with a edit icon">
                ShowForm
              </button> 
            </td>
  
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [length]="paytotalCount" [pageSize]="paginationService.pageSize" [pageSizeOptions]="paginationService.selectItemsPerPage"
          (page)="payonPageSwitch.emit($event)">
      </mat-paginator> -->
  
  </mat-expansion-panel>

</div>

<br>
<div class="row" id="pnlCreateEditForm" *ngIf="pnlCreateEditForm" class="panel">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{title}} Create - Edit
          </mat-panel-title> 
        </mat-expansion-panel-header>
       
    <div class="row">
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Form Name</mat-label>
      <input matInput [(ngModel)]="NewFormModel.FormName" maxlength="100" #refFormaName="ngModel" id="FormaName" required>
    </mat-form-field>  
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
       <mat-label>Desciption</mat-label>
       <textarea matInput [(ngModel)]="NewFormModel.Desciption" #refDesciption="ngModel" id="Desciption"></textarea>
     </mat-form-field>  
     </div>

         <div class="row">
   
   <mat-form-field class="example-full-width" appearance="fill">
<mat-label>Role</mat-label> 
<mat-select required name="Role" #refRole="ngModel" class="form-control" [(ngModel)]="NewFormModel.Role"> 
  <mat-option *ngFor="let role of RoleList" [value]="role.Id">
    {{role.RoleName}}
  </mat-option> 
</mat-select>  
</mat-form-field>

    </div>

    
    <div Class="row">

        <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        </div>
        <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    
          <button  mat-raised-button color="primary" (click)="onSubmit()">Submit {{title}}</button>
    
        </div>
        <div Class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
    
        </div>
    
    </div>
    
</mat-expansion-panel>
</div>



<div class="row" id="pnlElements" *ngIf="pnlElements" class="panel">

  <app-formelements [SelectedFormModel]="NewFormModel"></app-formelements>
</div>


<div class="row" id="pnlFormView" *ngIf="pnlFormView" class="panel"> 
  <app-formviewer [SelectedFormModel]="NewFormModel"></app-formviewer>
</div>